.total{
    height: 100vh;
    width:100%;
    background-color: chartreuse;
    display: flex;
}
.text{
    height: 100%;
    width:30%;
    background-color:black;
    color: white;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.pic{
    height: 100vh;
    width: 70%;
    background-image: url(experience.jpg);
    background-size: cover;
}
h5{
    color: lightblue;
}