
*{
    margin: 0;
    font-family: Arial;
    border: border-box;

}
.navber{
    height: 60px;
    background-color: transparent;
    color: azure;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}
.nav-logo{
    height: 50px;
    width: 50px;

}
img{
    height: 80px;
    width: 80px;
    position: relative;
    left: 20px;
}
a{
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 20px;
    margin: 50px;
    position: relative;
    top: 20px;
    left: 30px;
}
video{
    width: 100%;
    object-fit: cover;
    height: 100vh;
    background-size: cover;   
}
.hero{
    background-color:transparent;
    text-align: center;
    color:white;
    position: absolute;
    bottom: 60px;
    left: 35%;
    font-size: 20px;
}
.discover{
    color: white;
    font-size: 30px;
}
.news-container{
    display: flex;
    object-fit: cover;
    background-color:white;
    height: 110vh;
    width: 100%;
}
#one{
    background-color:transparent;
    height: 50px;
    width: 50px;
    position: relative;
    bottom: 2px;
}
.content{
    background-color:transparent;
    height: 110vh;
    width: 40%;
    padding: 80px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.head{
    font-weight: bold;
}
button{
    font-size: 30px;
    outline: none;
    border: none;
    background-color: transparent;
    
}
.newsimag{
    background-color: yellow;
    width: 60%;
    height: 100vh;
    background-image: url(pic.png);
    background-size: cover;
    object-fit: cover;

}
.small{
    font-family: arial;
    font-size: 20px;
}
.picture{
    height: 900px;
    width:100%;
    display: flex
}
.bags{
    height:100% ;
    width: 50%;
    background-image: url(bag.webp);
    background-size: cover;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bolder;
    font-size: 50px;
}
#two{
    position: relative;
    left: 80px;
    background-color:transparent;
    bottom: 10px;
}
.bags:hover{
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    transition-delay: 3s;
    transform: scale(1.05);
}
.man{
    height:100%;
    width: 50%;
    background-image: url(man2.jpg);
    background-size: cover;
    object-fit: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-weight: bolder;
    font-size: 30px;
}
.man:hover{
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    transition-delay: 3s;
    transform: scale(1.05);}
    .D{
        font-size: 15px;
        color: white;
        font-weight: bold;
        position: relative;
        top: 30px;



    }
    #three{

        position: relative;
        left: 100px;
        background-color: transparent;
    }
/*PART 4*/
.stylecar{
    display: flex;
    height: 500px;
    width: 100%;
    padding: 0;
    margin: 0;
}

.car1{
    background-color: rgb(0, 0, 0);


    
    height: 500px;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
}
.car2{background-color: aqua;
    background-image: url(carbeside.jpeg);
    background-size: cover;
    height: 500px;
    width: 50%;
    position: relative;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    

}


.image1{
    height: 100%;
    width: 100%;
    position: relative;
    top: 30px;
    right: 40px;
    object-fit: cover;

    
    
    
}
.car{
    position: relative;
    bottom: 150px;
}








/*........*/
.sub{height: 400px;
    width: 100%;
    background-color: rgb(40, 39, 39);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.subscribe{
    background-color: rgb(168, 17, 17);
    color: white;
    height: 70px;
    width: 250px;
    font-weight: normal;
    font-size: 15px;
}
.subscribe:hover{
    background-color: red;
}
.conclusion{
    position: relative;
    bottom: 40px;
    color: white;
    font-size: 20px;
    height: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*.............*/
.paragraph{
    background-color: black;
    height: 600px;
    width: 100%;
    display: flex;
    color: white;
    justify-content: space-evenly;
    text-align: justify;
    position: relative;
    bottom: 150px;
    
    
}
.heading{
    position: relative;
    top: 50px;
}
.link{
    display: flex;
    justify-content: space-between;
    height: 200px;
    width: 100%;
    background-color: black;
    position: relative;
    bottom: 150px;

}
.last{
    height: 300px;
    width: 100%;
    background-color: black;
    position: relative;
    bottom: 150px;display: inline-block;
    
}
.text{
    background-color:transparent;
    width: 50%;
    position:absolute ;
    top: 100px;
    left: 400px;
    text-align: center;
    color: lightslategrey;
}
/*..........*/
.lastline{

    background-color: dimgrey;
    display: flex;
    height: 300px;
    width: 100%;
    justify-content: space-evenly;

    flex-direction: row;
    position: relative;
    bottom: 155px;
    flex-wrap: wrap;
    font-size: 20px;
}
.footer{
    width: 100%;
    height: 100px;
    background-color: black;
    position: relative;
    bottom: 155px;
}
.logof{
    display: flex;
    justify-content: center;
    position: relative;
    left: 50%;
}
