
*{
    margin: 0;
    font-family: Arial;
    border: border-box;

}
@media(max-width:900px){
    body{
        background-color: darkslategray;
    }
}
.navber{
    height: 60px;
    background-color: transparent;
    color: azure;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 999;
}
.nav-logo{
    height: 50px;
    width: 50px;

}
img{
    height: 80px;
    width: 80px;
    position: relative;
    left: 20px;
}
a{
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 15px;
    margin: 50px;
    position: relative;
    top: 20px;
    left: 30px;
}
video{
    width: 100%;
    object-fit: cover;
    height: 100vh;
    background-size: cover;   
}
.hero{
    background-color:transparent;
    text-align: center;
    color:white;
    position: absolute;
    bottom: 60px;
    left: 35%;
    font-size: 15px;
}
.discover{
    color: white;
    font-size: 25px;
}
.news-container{
    display: flex;
    object-fit: cover;
    background-color:white;
    height: 110vh;
    width: 100%;
}
#one{
    background-color:transparent;
    height: 50px;
    width: 50px;
    position: relative;
    bottom: 2px;
}
.content{
    background-color:transparent;
    height: 110vh;
    width: 40%;
    padding: 80px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.head{
    font-weight: bold;
}
button{
    font-size: 25px;
    outline: none;
    border: none;
    background-color: transparent;
    
}
.newsimag{
    background-color: yellow;
    width: 60%;
    height: 100vh;
    background-image: url(pic.png);
    background-size: cover;
    object-fit: cover;

}
.small{
    font-family: arial;
    font-size: 15px;
}
.picture{
    height: 900px;
    width:100%;
    display: flex
}
.bags{
    height:100% ;
    width: 50%;
    background-image: url(bag.webp);
    background-size: cover;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bolder;
    font-size: 30px;
}
#two{
    position: relative;
    left: 80px;
    background-color:transparent;
    bottom: 10px;
}
.bags:hover{
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    transition-delay: 3s;
    transform: scale(1.05);
}
.man{
    height:100%;
    width: 50%;
    background-image: url(man2.jpg);
    background-size: cover;
    object-fit: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-weight: bolder;
    font-size: 20px;
}
.man:hover{
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    transition-delay: 3s;
    transform: scale(1.05);}
    .D{
        font-size: 10px;
        color: white;
        font-weight: bold;
        position: relative;
        top: 20px;



    }
    #three{

        position: relative;
        left: 100px;
        background-color: transparent;
    }
/*PART 4*/
.stylecar{
    display: flex;
    height: 500px;
    width: 100%;
    padding: 0;
    margin: 0;
}

.car1{
    background-color: rgb(0, 0, 0);


    
    height: 500px;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
}
.car2{background-color: aqua;
    background-image: url(carbeside.jpeg);
    background-size: cover;
    height: 500px;
    width: 50%;
    position: relative;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    

}.car2:hover{
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    transition-delay: 3s;
    transform: scale(1.05);}


.image1{
    height: 100%;
    width: 100%;
    position: relative;
    top: 30px;
    right: 40px;
    object-fit: cover;

    
    
    
}
.image1:hover{
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    transition-delay: 3s;
    transform: scale(1.05);}
.car{
    position: relative;
    bottom: 150px;
}








/*........*/
.sub{height: 400px;
    width: 100%;
    background-color: rgb(40, 39, 39);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.subscribe{
    background-color: rgb(168, 17, 17);
    color: white;
    height: 70px;
    width: 250px;
    font-weight: normal;
    font-size: 10px;
}
.subscribe:hover{
    background-color: red;
}
.conclusion{
    position: relative;
    bottom: 40px;
    color: white;
    font-size: 20px;
    height: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*.............*/
.paragraph{
    background-color: black;
    height: 600px;
    width: 100%;
    display: flex;
    color: white;
    justify-content: space-evenly;
    text-align: justify;
    position: relative;
    bottom: 150px;
   
    
    
}
.heading{
    position: relative;
    top: 50px;
}
.link{
    display: flex;
    justify-content: space-between;
    height: 200px;
    width: 100%;
    background-color: black;
    position: relative;
    bottom: 150px;

}
.last{
    height: 300px;
    width: 100%;
    background-color: black;
    position: relative;
    bottom: 150px;display: inline-block;
    
}
.text{
    background-color:transparent;
    width: 50%;
    position:absolute ;
    top: 100px;
    left: 400px;
    text-align: center;
    color: lightslategrey;
}
/*..........*/
.lastline{

    background-color: dimgrey;
    display: flex;
    height: 300px;
    width: 100%;
    justify-content: space-evenly;

    flex-direction: row;
    position: relative;
    bottom: 155px;
    flex-wrap: wrap;
    font-size: 15px;
}
.footer{
    width: 100%;
    height: 100px;
    background-color: black;
    position: relative;
    bottom: 155px;
}
.logof{
    display: flex;
    justify-content: center;
    position: relative;
    left: 50%;
}
/* ===============================
   RESPONSIVE CSS
   =============================== */

/* ---------- TABLET (max 900px) ---------- */
@media (max-width: 900px) {

    /* NAVBAR */
    .navber{
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
    }

    a{
        margin: 10px;
        font-size: 14px;
        top: 0;
        left: 0;
    }

    /* HERO TEXT */
    .hero{
        left: 50%;
        transform: translateX(-50%);
        bottom: 40px;
        font-size: 14px;
        text-align: center;
    }

    /* NEWS SECTION */
    .news-container{
        flex-direction: column;
        height: auto;
    }

    .content,
    .newsimag{
        width: 100%;
        height: auto;
        padding: 40px;
    }

    /* COLLECTION SECTION */
    .picture{
        flex-direction: column;
        height: auto;
    }

    .bags,
    .man{
        width: 100%;
        height: 450px;
    }

    /* STYLE CAR */
    .stylecar{
        flex-direction: column;
        height: auto;
    }

    .car1,
    .car2{
        width: 100%;
        height: 400px;
    }

    .image1{
        position: static;
        width: 100%;
        height: 100%;
    }

    /* FOOTER COLUMNS */
    .paragraph{
        flex-wrap: wrap;
        height: auto;
        padding: 40px 0;
        bottom: 0;
    }

    .heading{
        width: 45%;
        margin-bottom: 30px;
    }

    /* SOCIAL LINKS */
    .link{
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        height: auto;
        padding: 30px;
        bottom: 0;
    }

    .text{
        position: static;
        width: 90%;
        margin: auto;
        padding: 20px;
    }

    .last,
    .lastline,
    .footer{
        bottom: 0;
        height: auto;
    }
}


/* ---------- MOBILE (max 576px) ---------- */
@media (max-width: 576px) {

    /* NAVBAR */
    .navber{
        flex-direction: column;
        align-items: center;
    }

    img{
        width: 60px;
        height: 60px;
        left: 0;
    }

    a{
        font-size: 13px;
        margin: 6px 0;
    }

    /* HERO */
    .hero h1{
        font-size: 22px;
    }

    .discover{
        font-size: 18px;
    }

    /* NEWS TEXT */
    .content{
        font-size: 18px;
        padding: 20px;
    }

    /* COLLECTION TEXT */
    .bags,
    .man{
        font-size: 18px;
    }

    /* SUBSCRIBE */
    .conclusion{
        font-size: 16px;
        text-align: center;
        padding: 0 10px;
    }

    .subscribe{
        width: 200px;
        height: 60px;
    }

    /* FOOTER COLUMNS */
    .heading{
        width: 100%;
        text-align: center;
    }

    .lastline{
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 20px 0;
    }

    .logof{
        left: 0;
        margin: auto;
    }
}
